@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="home roboto">
    <!--#region Бургеры  -->
    <span id="offer_burger_name" class="name ">Black Classic: <br />вкус, который заставит вас вернуться!</span>
    <span id="offer_burger_desc" class="desc ">Откройте для себя наш новый черный бургер из мраморной говядины, который покорит вас своим необычным и глубоким вкусом. Мы используем только свежую мраморную говядину, что обеспечивает сочность и невероятную мягкость каждого куска мяса. А соус из свежих брусничных ягод добавляет нежную кислинку, что идеально сочетается с глубоким ароматом мраморной говядины...</span>
    <img id="offer_burger_img" class = "home_img invis" src="~/img/Black_Classic.png"/>
    <button class="more_inf roboto">Подробнее</button>
    <div class="counter roboto">03<b id="counter" class="counter_curent">/1</b></div>
    <div class="arr_block">
        <img id="offer_arr_left" onclick="burger_change(1);" class="arr_left_right scale" src="~/icons/arr_left.png"/>
        <img id="offer_arr_right" onclick="burger_change(2);" class="arr_left_right scale" src="~/icons/arr_right.png"/>
    </div>

    <!--#endregion -->

    <!--#region почему именно мы  -->
    <span class="line orange">
        <b class="name_zone mg-b0" style="margin-top: 25px">Почему именно мы?</b>
        <b class="tagline">BURGER HUB - JUICY GRUB</b>
    </span>

    <div class="crop line">
        <img class="backgroug line invis" src="~/img/1670364312_51-kartinkin-net-p-burger-kartinka-vkontakte-52.jpg"/>
    </div>

    <div class="why_grid">
        <div class="glass_box box_why">
            <img class="icon_why invis" src="~/icons/mdi_food-steak.png"/>
            <p class="why_name">Мясо</p>
            Только <br/><b>отборная</b> <br/>мраморная <br/>говядина
        </div>
        <div class="glass_box box_why">
            <img class="icon_why invis" src="~/icons/ph_hamburger-fill.png"/>
            <p class="why_name">Конструктор</p>
            Создай сам <br/>свой <br/><b>идеальный</b><br/> бургер
        </div>
        <div class="glass_box box_why">
            <img class="icon_why invis" src="~/icons/ic_sharp-eco.png"/>
            <p class="why_name">ECO</p>
            <b>Специальное</b> <br/>меню для <br/>веганов
        </div>
    </div>
    <!--#endregion -->

    <!--#region меню  -->
    <span id="menu"></span>
    <div class="burger_menu">
        <b class="name_zone">Меню</b>
        <div class="menu_filters">
            <button id="bt_all" class="roboto white_button" style="grid-area: all" onclick="menu_filter_button_color('bt_all');">Все</button>
            <button id="bt_eco" class="roboto white_button" style="grid-area: eco" onclick="menu_filter_button_color('bt_eco');">Eco</button>
            <button id="bt_hit" class="roboto white_button" style="grid-area: hit" onclick="menu_filter_button_color('bt_hit');">Hit</button>
        </div>
        <span class="menu_line orange"></span>
        <div class="menu-area">
            @{
                int id = 1;
                foreach (var burger in Model.Menu)
                {
                    <!--#region меню  -->
                    <div class="burger_block glass_box">
                        <div class="burger_grid">
                            <img class="burger_menu_img" style="grid-area: img" src=@burger.IMG />
                            <b class="burger_name">@burger.Name</b>
                            <div class="burger_time_block">
                                <img class="invis" style="grid-area: icon; transform: scale(0.9);"  src="~/icons/ClockClockwise.png"/>
                                <b class="burger_cook_time">@burger.CookTime_sec м</b>
                            </div>
                            <b class="burger_price"> @burger.Price ₽</b>
                            <button onclick="openModal('burger_@id');" class="white_button roboto burger_menu_bt" style="grid-area: button">Подробнее</button>
                        </div>
                    </div>
                    <!--#endregion -->

                    <!--#region страница бургера  -->
                    <div id="burger_@id" class="glass_box burger_model_page">
                        <button class="left_arr burger_page_back" style="place-self: self-start" onclick="closeModal('burger_@id',0,'kbju_@id');">
                            <img src="~/icons/arr_left.png"/>
                        </button>
                        <img class="burger_page_img invis" src=@burger.IMG />
                        <b class="burger_page_name">@burger.Name</b>
                        <b class="burger_page_desc">@burger.Description</b>
                        <button onclick="openModal('kbju_@id');" class="burger_page_compose_bt white_button roboto">Состав</button>
                        <div class="burger_page_down_section">
                            <b class="burger_page_cook_text">Время приготовления</b>
                            <img class="invis" style="grid-area: icon; transform: scale(0.8);"  src="~/icons/ClockClockwise.png"/>
                            <b class="burger_page_cook_time">@burger.CookTime_sec минут</b>
                            <div class="burger_page_price_section">
                                <b style="grid-area: price_text">Цена</b>
                                <b style="grid-area: price" class="burger_price"> @burger.Price ₽</b>
                            </div>
                        </div>
                    </div>
                    <!--#endregion -->
                    <!--#region страница кбжу бургера  -->
                    <div id="kbju_@id" class="burger_page_kbgu glass_box">
                        <button class="left_arr burger_page_back" style="place-self: self-start; grid-area: back;" onclick="closeModal('kbju_@id',1);">
                            <img src="~/icons/arr_left.png"/>
                        </button>
                        <b class="burger_page_kbgu_text">Состав</b>
                        <b class="burger_page_kbgu_desc">@burger.Composition</b>
                        <div class="burger_page_kbgu_table">
                            <b class="kbju" style="grid-area:kkal">кКал</b>
                            <b class="kbju" style="grid-area:belki">Белки</b>
                            <b class="kbju" style="grid-area:ziri">Жиры</b>
                            <b class="kbju" style="grid-area:ugl">Углеводы</b>
                            <b class="kbju" style="grid-area:kkal_">0</b>
                            <b class="kbju" style="grid-area:belki_">000</b>
                            <b class="kbju" style="grid-area:ziri_">00</b>
                            <b class="kbju" style="grid-area:ugl_">0000</b>
                            <b class="gramm">@burger.Weight_gram гр.</b>
                        </div>
                    </div>
                    <!--#endregion -->
                    id++;
                }
            }
        </div>
    </div>
    <!--#endregion -->

    <!--#region о доставке  -->
    <span id="delivery"></span>
    <div class="about_delivery">
        <b class="name_zone delivery_name_zone">О доставке</b>
        <div class="background_delivery line">
            <div class="map">
                <img src="~/img/map.png" class="map invis"/>
            </div>
            <div class="delivery_inf_block">
                <b class="free_delivery">Бесплатная доставка по Москве! </b>
                <div class="adres">
                    <p class="where_delivery">
                        <b class="where_delivery">Где нас найти:</b><br/><br/>
                        <b>VОЛЧЬЯ SТАЯ</b><br />
                             ул. Мясницкая, 38с1<br/><br/>
                        <b>ТАГАНСКАЯ</b><br/>
                             Нижняя Радищевская, 5с1<br/><br/>
                        <b>КАМЕРГЕРСКИЙ</b><br/>
                             пер. Камергерский, 6/5, 3<br/><br/>
                        <b>БОЛЬШАЯ ОРДЫНКА</b><br/>
                             ул. Большая Ордынка, 19 с1<br/><br/>
                        <b>ПУШКИНСКАЯ</b><br/>
                             Пушкинская пл., 2<br/><br/>
                        <b>БАР «ВАРКА»</b><br/>
                             ул. Александра Солженицына, 1/5<br/><br/>
                        <b>BAD BRO BAR</b><br/>
                             ул. Грузинский вал, 28
                    </p>
                </div>
                <p class="times">
                    <b>Часы работы:</b><br/><br/>
                    ПН - ПТ: <br/>
                    10:00-23:00<br/><br/>
                    СБ-ВС: <br/>
                    8:00-2:00
                </p>
            </div>
        </div>
    </div>
    <!--#endregion -->

    <!--#region о нас  -->
    <span id="about"></span>
    <div class="about_us">
        <b class="name_zone us_name_zone">О нас</b>
        <b class="us_description">
            В 2023 году BurgerHUB открыли первый бургер-бар на Большой Ордынке 
            и влюбили Москву в легендарный "Black classic". Поток гостей рос в
            геометрической прогрессии вместе с количеством бургер-баров. Сейчас
            в столице их 16. Мы обеспечиваем бургерами самые громкие фестивали 
            и мероприятия. Наши бургеры – это микс смелых вкусов и натуральных 
            ингредиентов. Стоит один раз попробовать, чтобы захотеть стать 
            частью BurgerHUB Family!
        </b>
        <div class="contact_icons">
            <a href="http://instagram.com/"><img class="contact_icons" src="~/icons/InstagramLogo.png" /></a>
            <a href="http://facebook.com/"><img class="contact_icons" src="~/icons/FacebookLogo.png" /></a>
            <a href="https://www.youtube.com/"><img class="contact_icons" src="~/icons/YoutubeLogo.png" /></a>
            <a href="https://web.telegram.org/"><img class="contact_icons" src="~/icons/TelegramLogo.png" /></a>
        </div>
        <b class="contact_phone">+7(977) 303-95-29</b>
        <div class="tagline_down line">
            <p class="burgerhub_down">BURGERHUB</p>
            <p class="juicygrub_down orange_color">JUICYGRUB</p>
        </div>
    </div>
    <!--#endregion -->


    <!--#region фон  -->
    <span class="glow_w"></span>
    <span class="glow_o"></span>
    <span class="glow_p"></span>
    <span class="glow_p delivery1"></span>
    <span class="glow_o delivery2"></span>
    <span class="glow_w delivery3"></span>
    <!--#endregion -->

</div>

